{% extends "@WeixinBundle/layout.twig" %}
{% block title %}预约{% endblock %}
{% set leftMenuActive = 'product/index' %}
{% block content %}
    {% if product is defined and product.min != 0 %}
        {% set productMin = product.min %}
    {% else %}
        {% set productMin = '' %}
    {% endif %}
    <div class="container" id="js-main-page">
         <form>
              <div class="common-panel order-panel">

                <ul class="common-list">
                    <li class="list-item  has-corner no-padding">
                        <span class="corner">
                            {% if product.discount == 0 %}
                                {{  product.position }}
                            {% else %}
                                特
                            {% endif %}
                        </span>
                <div class="thumb-content">
                    <input type="hidden" name="Order[product_id]" value="{{ product.id }}"/>
                    <div class="thumb">
                        {% if product.image is empty %}
                            <img src="{{ asset('images/') }}no-pic.jpg" alt=""/>
                        {% else %}
                             <img src="{{ asset('uploads/product/') }}{{ product.image }}" alt=""/>
                        {% endif %}
                    </div>
                    <div class="content">
                        <div class="name">{{ product.name }}</div>
                        <div class="desc">推拿师:自动推荐</div>
                        <div class="text-content"><i class="fa fa-clock-o text-primary"></i> {{ product.time }}{% if product.min != 0 %}({{ product.min }}人起订){% endif %}</div>
                        <div class="price text-danger">&yen;<span class="js-product-price">{{ product.price }} </span>元</div>
                    </div>
                </div>
                    </li>
                    <li class="list-item list-input-item">
                        <span class="addon ">购买数量:</span>
                        <div class="input text-right">
                             <div class="calc">
                                <span class="min js-min"><i class="fa fa-minus text-primary"></i></span>
                                <span class="num js-num-value">{{ productMin|default(1) }}</span>
                                <input type="hidden" name="Order[quantity]" value="{{ productMin|default(1) }}"/>
                            <span class="max js-max"><i class="fa fa-plus text-primary"></i></span>
                        </div>
                        </div>
                    </li>
                    <li class="list-item list-input-item">
                        <span class="addon ">总价:</span>
                        <div class="input text-right">
                          <span class="text-danger"> &yen;
                              <span class="js-total-price">{{ productMin|default(1) * product.price }}</span>
                          </span>
                            /
                          <span class="js-total-time text-primary">{{ productMin|default(1) * product.time }}</span>分钟
                        </div>
                    </li>
                </ul>
            </div>

             <div class="common-panel">
                 <div class="common-list">
                     <li class="list-item list-input-item ">
                        <span class="addon time">技师等级:</span>
                        <div class="input">
                            <div class="btn-group-filter js-btn-group-radio js-grade" data-grade="">
                                {% for key, value in gradeArr %}
                                <span class="item btn-primary js-select-grade" data-key="{{ key }}">{{ value }}</span>
                                {% endfor %}
                           </div>
                        </div>
                     </li>
                      <li class="list-item list-input-item ">
                        <span class="addon time">技师性别:</span>
                        <div class="input">
                            <div class="btn-group-filter js-btn-group-radio js-sex" data-sex="">
                                {% for key, value in sexArr %}
                                <span class="item btn-primary js-select-sex" data-key="{{ key }}">{{ value }}</span>
                                {% endfor %}
                           </div>
                        </div>
                     </li>
                    {# <li class="list-item list-input-item ">
                        <span class="addon time">服务类型:</span>
                        <div class="input">
                            <div class="btn-group-filter js-btn-group-radio js-service-type" data-service-type="">
                                {% for key, value in serviceTypeArr %}
                                <span class="item btn-primary js-select-service-type" data-key="{{ key }}">{{ value }}</span>
                                {% endfor %}
                           </div>
                        </div>
                     </li>#}
                     {% if employees is not empty %}
                        <li class="list-item">历史技师</li>
                     {% endif %}
                 </div>
             </div>

             {% if employees is not empty %}
             <ul class="t-list">
                 {% for key, val in employees %}
                 <li class="item">
                     <a href="{{ url('common/product', {'productId':product.id, 'employeeId': val.id}) }}">
                         {% if val.avatar is not empty %}
                            <div class="thumb" style="background-image: url({{ asset('uploads/avatar/') }}{{ val.avatar }})"></div>
                         {% else %}
                            <div class="thumb" style="background-image: url({{ asset('images/') }}no-pic.jpg)"></div>
                         {% endif %}
                         <div class="thumb-desc">
                             <div class="name pull-left">{{ val.name }}</div>
                             <div class="man-tag pull-right">{{ val.grade }}</div>
                         </div>
                     </a>
                 </li>
                 {% endfor %}
             </ul>
             {% endif %}

            <div class="common-panel">
                <ul class="common-list">
                    <li class="list-item list-input-item" >
                        <span class="addon time"><i class="icon fa fa-user text-primary" style="width:16px"></i> 客户姓名:</span>
                        <input  autocomplete="off" id="js-user-name"  type="text" name="Order[name]" class="input" value="{{ member.nickname|default('') }}"/>
                    </li>
                    <li class="list-item list-input-item" onclick="showTimeView()">
                        <span class="addon time"><i class="icon fa fa-clock-o text-primary" style="width:16px"></i>上门时间:</span>
                        <input autocomplete="off" id="js-order-time" type="text"  name="Order[booking_time]" class="input" readonly/>
                        <span class="addon"><i class="icon fa fa-angle-right"></i></span>
                     </li>
                    <li class="list-item list-input-item js-change-address-service-type">
                        <span class="addon time"><i class="icon fa fa-map-marker text-primary" style="width:16px;"></i> 常用地址:</span>
                            <input  autocomplete="off" id="js-order-address" data-address="{{ defaultAddress.detail|default('') }}" data-address_id="{{ defaultAddress.id|default('') }}"
                                    data-product_id="{{ product.id }}" data-quantity="1" type="text" class="input"
                                    value="{{ defaultAddress.detail|default('') }} {{ defaultAddress.mobile|default('') }}" readonly/>
                            <span class="addon"><i class="icon fa fa-angle-right"></i></span>
                    </li>
                    <li class="list-item list-input-item ">
                        <span class="addon">留&nbsp;&nbsp;&nbsp;&nbsp;言:</span>
                        <input type="text" class="input"  name="Order[message]" placeholder="(选填)如有问题请填写"/>
                    </li>
                </ul>
            </div>

            {#<div class="common-panel">
                <ul class="common-list">
                    <li class="list-item ">骏到家简介 </li>
                    <li class="list-item ">
                         <div>
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                            骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介骏到家简介
                         </div>
                    </li>
                </ul>
            </div>#}
            <div class="text-tip">提示:如果有预约推拿师,请直接返回 <a class="text-primary" href="{{ url('employee/index') }}">推拿师</a> 页面</div>
            <div class="btn btn-primary btn-lg btn-submit js-submit-order">下一步</div>
        </form>
    </div>

<div id="js-modal-time" style="display: none;">
    <div class="container">
         <div class=" text-default js-close-time-show">
            <div class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i>&nbsp;&nbsp;返回</div>
        </div>
        <p class="text-primary"><i class="icon fa fa-info-sign"></i> <span>温馨提示:灰色时间段代表已被Ta人预约啦!</span></p>

        <div class="common-panel">
            <div id="common-popup-time" class="common-popup-time">
                <div class="nav-day">
                    <div class="day-item active">今天</div>
                    <div class="day-item">明天</div>
                    <div class="day-item">后天</div>
                </div>
                <div class="body">
                    <div class="time-list active">
                        <!--当前的时间-->
                        {% set current = ('+1 hours'|date('H:i')) %}

                        <!--循环时间-->
                        {% for value in timeArr %}
                            <!--今天过去时间不可预约-->
                            {% set disabled2 = false %}
                            {% if current > value %}
                                  {% set disabled2 = true %}
                            {% endif %}
                            <li class="{% if disabled2 %} disabled
                            {% endif %}"><span class="time-value" data-date="{{ 'now'|date('Y-m-d') }}">{{ value }}</span></li>
                        {% endfor %}
                    </div>
                    <div class="time-list ">
                        <!--循环时间-->
                        {% for value in timeArr %}
                            <li><span class="time-value" data-date="{{ '+1days'|date('Y-m-d') }}">{{ value }}</span></li>
                        {% endfor %}
                    </div>
                    <div class="time-list ">
                        <!--循环时间-->
                        {% for value in timeArr %}
                            <li><span class="time-value" data-date="{{ '+2days'|date('Y-m-d') }}">{{ value }}</span></li>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="btn btn-submit btn-primary js-close-time">确认</button>
        </div>
    </div>
</div>

<div id="js-modal-address-list" style="display: none;">
        <div class="container">
            <div class="common-panel ">
                <ul class="common-list">
                    <li class="list-item list-input-item">
                        <span class="addon">上门地址:</span>
                        <input type="hidden" name="detail" id="address" value=""/>
                        <input id="suggestId" type="text" class="input"/>
                        <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                    </li>
                    <li class="list-item list-input-item">
                        <span class="addon">详细门牌:</span>
                        <input type="text" class="input" name="code" id="code" value=""/>
                    </li>
                    <li class="list-item list-input-item">
                        <span class="addon">联系电话:</span>
                        <input type="text" class="input" name="mobile" id="mobile" value="{{ member.mobile|default('') }}"/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-block btn-primary js-add-address">确定</button>
        </div>
        <div class="container">

            <div class="common-panel">
                <ul class="common-list show-address-list">
                    <div class="list-item has-touch-bg" onclick="showAddressEditView()">
                        使用历史地址
                    </div>
                    {% for key, value in cities %}
                       <li class="list-item list-input-item has-touch-bg js-address" data-code="{{ key }}">
                            <div class="input text-muted">上门地址:{{ value.detail|default('') }} {{ value.mobile|default('') }}</div>
                       </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
{% endblock %}

{% block footer %}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('static-web/css/order.css') }}"/>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        var price = parseFloat($(".js-product-price").html());
        var time = parseInt('{{ product.time }}');
        //起订人数
        var minCount = {% if product is defined and product.min != 0 %}{{ product.min }}{% else %}1{% endif %};
        var number = parseInt($(".js-num-value").html());
        var addressList = {% autoescape false%}{{ cities|json_encode() }} {% endautoescape %};
        var productGradePrice = {% autoescape false%}{{ productGradePrice|json_encode() }} {% endautoescape %};
        var defaultAddressId ={{ defaultAddress.id|default(0) }};
        $(function(){
            var addressInfo = $("#js-order-address").attr("data-address");
            if(addressInfo.length != 0) {
                getLatAndLng(addressInfo, citiesArr[cityId]);
            }

            //减少购买数量，不能少于起订人数
            $(".calc .min").click(function(){
                number = parseInt($(".js-num-value").html());
                if(number <= minCount){
                    return false;
                }
                number--;
                $(".js-num-value").html(number);
                $("input[name='Order[quantity]']").val(number);
                $(".js-total-price").html(number * price);
                $(".js-total-time").html(number * time);
            });

            //添加购买数量
            $(".calc .max").click(function(){
                number = parseInt($(".js-num-value").html());

                if((time == 60 || time == 20) && number * time >= 240){
                    return false;
                } else if(time == 45 && number * time >= 270){
                    return false;
                } else if((time == 90 || time == 120) && number * time >= 360) {
                    return false;
                }
                number++;
                $(".js-num-value").html(number);
                $("input[name='Order[quantity]']").val(number);
                $(".js-total-price").html(number * price);
                $(".js-total-time").html(number * time);
           });

             //添加常用地址
           $(".js-add-address").click(function(){
                var mobile = $.trim($("#mobile").val());
                var number = $.trim($("#code").val());
                var address = $.trim($("#address").val());
                var currentCity = $.trim($("#address").attr("data-current-city"));

                //验证
                if(address.length == 0){
                    rain.alert("请填写地址");
                    return false;
                }

                if(number.length == 0){
                    rain.alert("请填写门牌号");
                    return false;
                }

                if(!rain.isNumber(mobile) || mobile.length != 11){
                    rain.alert("请填写正确的电话");
                    return false;
                }
                var data = {
                    Address:{
                        address:address,
                        number:number,
                        mobile:mobile
                    }
                };

                var loading = rain.loading(this).start();
                $.ajax({
                    url: "{{ url('member/ajax-add-address') }}",
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        loading.stop();
                        if (result.status == 1) {
                            $("#js-main-page").show();
                            $("#js-modal-address-list").hide();
                            $("#js-modal-address").hide();
                            $("#js-order-address").val(result.data.detail + result.data.mobile);
                            $("#js-order-address").attr('data-address_id', result.data.id);
                            getLatAndLng(result.data.detail, currentCity);
                        } else {
                            rain.alert(result.message);
                            return false;

                        }
                    },
                    error: function () {
                        loading.stop();
                    }
                });

           });

           //从常用地址列表选择地址
            $(".js-address").click(function(){
                var code = $(this).attr('data-code');
                var addressId = addressList[code].id;
                if(addressId != defaultAddressId) {
                    rain.confirm("您确定要修改地址吗?", function() {
                        $("#js-order-address").val(addressList[code].detail + addressList[code].mobile);
                        $("#js-order-address").attr('data-address_id', addressId);
                        $("#js-modal-address-list").hide();
                        $("#js-main-page").show();
                        defaultAddressId = addressId;
                        getLatAndLng(addressList[code].detail, citiesArr[cityId]);

                    }, function() {
                        $("#js-modal-address-list").hide();
                        $("#js-main-page").show();
                    });
                } else {
                    $("#js-modal-address-list").hide();
                    $("#js-main-page").show();
                }
            });

           //显示常用地址列表
           $("#js-order-address").click(function(){
                $("#js-main-page").hide();
                $("#js-modal-address-list").show();
           });

            $("#js-show-modal-address").click(function(){
                $("#js-modal-address-list").hide();
                /*$("#js-modal-address").show();*/
                return false;
           });

            //选择星级
            $(".js-select-grade").click(function(){
                var value = $(this).html();
                var key = $(this).attr("data-key");
                $(".js-grade").attr("data-grade", key);
                price = productGradePrice[key];
                $(".js-product-price").html(price);
                $(".js-total-price").html(number * price);
            });

            //选择性别
            $(".js-select-sex").click(function(){
                var value = $(this).html();
                var key = $(this).attr("data-key");
                $(".js-sex").attr("data-sex", key);
            });

            //预约
            $(".js-submit-order").click(function(){
                var bookingTime = $("input[name='Order[booking_time]']").val();
                var message = $.trim($("input[name='Order[message']").val());
                var productId = $("#js-order-address").attr("data-product_id");
                var grade = $(".js-grade").attr("data-grade");

                //技师等级
                if(grade.length == 0) {
                    rain.alert("请选择技师等级");
                    return false;
                }

                 //客户姓名
                var name = $.trim($("#js-user-name").val());
                if(name.length == 0) {
                    rain.alert("请填写客户姓名");
                    return false;
                }

                //预约时间
                if(bookingTime.length == 0) {
                    rain.alert("请选择预约时间");
                    return false;
                }

                    //上门地址
                var addressId = $("#js-order-address").attr("data-address_id");
                if(addressId.length == 0) {
                    rain.alert("请选择地址");
                    return false;
                }

                var data = {
                    Order:{
                        booking_time:bookingTime,
                        quantity:number,
                        product_id:productId,
                        address_id:addressId,
                        grade:grade,
                        name:name,
                       employee_source:{{ constant('Common\\Entity\\Order::EMPLOYEE_SOURCE_ALLOT') }}
                    }
                };

                if(addressLat != 0 && addressLng != 0) {
                     data.Order.lat = addressLat;
                     data.Order.lng = addressLng;
                }

                var sex = $(".js-sex").attr("data-sex");
                if(sex.length != 0) {
                    data.Order.sex = sex;
                }

               // console.info(data);return false;
                var loading = rain.loading(this).start();
                $.ajax({
                    url: "{{ url('order/ajax-create-order') }}",
                    type: "POST",
                    dataType: 'json',
                    data: data,
                    success: function (result) {
                        loading.stop();
                        if (result.status == 1) {
                            rain.cute("您的订单已经生成，请在10分钟内完成支付，否则将取消订单", 1000, function(){
                                 window.location.href = "{{ url('order/pay') }}?id="+ result.data;
                            });

                        } else {
                            if(result.message == "请去登录") {
                                 window.location.href = "{{ url('default/login') }}";
                            }
                            rain.alert(result.message);
                            return false;
                        }
                    },
                    error: function () {
                        loading.stop();
                        rain.alert("网络错误，请刷新或稍后再试");
                    }
                });
            });

            //时间相关
            $("#js-modal-time").find(".day-item").click(function () {
                showTimeView($(this).index());
            });

            //选择上门时间
            $("#js-modal-time").find(".time-value").click(function () {
                var day = $(this).attr("data-date");
                var hour = $(this).html();
                var temp = day + " " + hour;
                if(!$(this).parent().hasClass("disabled")){
                    $("#js-order-time").val(temp);
                }
            });

             //提示时间不可选
            $(".time-value").click(function(){
                var parent = $(this).parent();
                if(parent.hasClass("disabled")) {
                    rain.alert("此时段不可选")
                } else {
                    $(".time-list>li.active").removeClass("active");
                    parent.addClass("active");
                }
            });

            //确定选择时间关闭窗口
            $(".js-close-time").click(function(){
                hideTimeView();
            });

            //关闭窗口
            $(".js-close-time-show").click(function(){
                //$("#js-order-time").val('');
                $(".time-list>li").removeClass('active');
                hideTimeView();
            });
        });

        /**
         * 显示时间
         */
        function showTimeView(tabIndex) {
            $("#js-main-page").hide();
            $("#js-modal-time").show();
            if (tabIndex != undefined) {
                $("#js-modal-time").find(".day-item").removeClass("active");
                $("#js-modal-time").find(".time-list").removeClass("active");
                $("#js-modal-time").find(".day-item").eq(tabIndex).addClass("active");
                $("#js-modal-time").find(".time-list").eq(tabIndex).addClass("active");
            }
        }

        /**
         * 隐藏时间
         */
        function hideTimeView() {
            $("#js-modal-time").hide();
            $("#js-main-page").show();
        }

    </script>

    <script type="text/javascript">
        // 百度地图API功能
        function G(id) {
            return document.getElementById(id);
        }

        $("#suggestId").focusout(function(){
           $("#address").val($(this).val());
           $("#address").attr("data-current-city", cityId);
        });

        var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
                {"input" : "suggestId"
                });

        ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
            var str = "";
            var _value = e.fromitem.value;
            var value = "";
            if (e.fromitem.index > -1) {
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

            value = "";
            if (e.toitem.index > -1) {
                _value = e.toitem.value;
                value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            }
            str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
            G("searchResultPanel").innerHTML = str;
            $("#address").val(value);
            $("#address").attr("data-current-city", _value.city);
        });

        var myValue;
        ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
            var _value = e.item.value;
            myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
            G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;
            $("#address").val(myValue);
            $("#address").attr("data-current-city", _value.city);
        });

    </script>

{% endblock %}