{% extends "@AppBundle/layout.twig" %}
{% block title %}会员管理{% endblock %}
{% set leftMenuActive = 'member/index' %}
{% block contentRight %}

    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-md-12">


                <div class="page-title">会员管理</div>

                <div class="content-top">
                    <ul class="top-nav">
                        <li {% if app.request.get('grade') is  null %} class="active"{% endif %}><a href="{{ url("member/index") }}">全部会员</a></li>
                        <li {% if app.request.get('grade') is not null and app.request.get('grade') == 10 %}active {% endif %}><a href="{{ url("member/index", {'grade':10}) }}">会员列表</a></li>
                        <li {% if app.request.get('grade') is not null and app.request.get('grade') == 20 %}active {% endif %}><a href="{{ url("member/index", {'grade':20}) }}">代理列表</a></li>
                        <li {% if app.request.get('grade') is not null and app.request.get('grade') == 30 %}active {% endif %}><a href="{{ url("member/index", {'grade':30}) }}">股东列表</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {{ include('@AppBundle/message.twig', {'session':app.session}) }}

                {#<div class="mt15">#}
                    {#<a class="btn btn-sm btn-success pull-right" href="{{ url('member/export-and-import') }}">导入导出</a>#}

                    {#<div class="clearfix"></div>#}
                {#</div>#}

                {# 搜索表单 #}
                <form action="{{ url('member/index') }}" method="get" class="form-inline form-search mt15">
                    <div class="form-group">
                        <label>会员名称</label>
                        <input type="text" name="nickname" class="form-control"
                               value="{{ app.request.get('nickname')|default('') }}">
                    </div>
                    <div class="form-group">
                        <label>手机</label>
                        <input type="text" name="mobile" class="form-control"
                               value="{{ app.request.get('mobile')|default('') }}">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>

                {% if list is empty %}
                    <div class="alert alert-warning mt15" role="alert">暂无会员</div>
                {% else %}

                    {# 分类列表 #}
                    <table class="table mt15">
                        <tr class="active">
                            <td>头像</td>
                            <td>Id</td>
                            <td>昵称</td>
                            <td>手机</td>
                            <td>openid</td>
                            <td>等级</td>
                            <td>金额</td>
                            <td>操作</td>
                        </tr>

                        {% for item in list %}
                            <tr>
                                 <td>
                                    <img src="{% if item.avatar is not empty %}
                                    {{ item.avatar }}
                                    {% else %}
                                    {{ asset('images/no-pic.jpg') }}
                                    {% endif %}
                                    " width="100"/>
                                </td>
                                <td>{{ item.id }}</td>
                                <td>{{ item.nickname }}</td>
                                <td>{{ item.mobile }}</td>
                                <td>{{ item.openid }}</td>
                                <td>
                                    {% autoescape false %}
                                        {{ app.html.dropDownList('grade', item.grade|default(10) , gradeList, {'data-id':item.id, 'prompt':['--请选择--']}) }}
                                    {% endautoescape %}
                                </td>
                                <td>{{ item.money }}</td>
                                <td>
                                    <a href="{{ url('member/view', {'id':item.id}) }}">查看</a>
                                    <a href="{{ url('member/money', {'id':item.id}) }}">资金明细</a>
                                    <a href="{{ url('member/children', {'id':item.id}) }}">下级</a>
                                    <a href="{{ url('order/create', {'mid':item.id}) }}">补单</a>
                                    {#<a href="{{ url('member/ticket', {'id':item.id}) }}">卡券</a>#}
                                    {#<a href="{{ url('recharge/create', {'id':item.id}) }}">充值</a>#}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="pull-right">
                        {{ page.createLinks(url('member/index'))|raw }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script>
        $(function () {
            //设置为审核中
            $("#grade").change(function(){
                var mid = parseInt($(this).attr("data-id"));
                var grade = $(this).val();
                rain.confirm("您确定要修改会员等级吗?", function(){
                    $.ajax({
                        type:'post',
                        url:"{{ url('member/ajax-update-grade') }}",
                        data:{mid:mid, grade:grade},
                        dataType:'json',
                        success:function(result){

                            //失败
                            if(result.status != 1){
                                rain.alert(result.message);
                                return false;
                            }

                            //成功
                            rain.cute(result.message, 1500, function(){
                                window.location.reload();
                            });


                        },error:function(){
                            rain.alert("网络出错,请稍后刷新再次尝试");
                            return false;
                        }


                    });
                }, function(){

                });

                return false;

            });
        })
    </script>
{% endblock %}
