{% extends "@AppBundle/layout.twig" %}
{% block title %}兑换比例管理{% endblock %}
{% set leftMenuActive = 'bank-config/index' %}
{% block contentRight %}

    <div class="container-fluid content-main">
        <div class="row">
            <div class="col-md-12">


                <div class="page-title">兑换比例管理</div>

                <div class="content-top">
                    <ul class="top-nav">
                        <li class="active"><a href="">兑换比例列表</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>

                <div class="mt15">
                    <a class="btn btn-sm btn-success pull-right" href="{{ url('bank-config/create') }}">新增兑换比例</a>

                    <div class="clearfix"></div>
                </div>

                {# 一次性消息提示 #}
                {{ include('@AppBundle/message.twig', {'session':app.session}) }}

                {# 搜索表单 #}
                <form action="{{ url('bank-config/index') }}" method="get" class="form-inline form-search mt15">
                    <div class="form-group">
                        <label>银行</label>
                        {% autoescape false %}
                            {{ app.html.dropDownList('bank', app.request.get('bank')|default('') , banks, {'class':"form-control", 'prompt':['--请选择--']}) }}
                        {% endautoescape %}
                    </div>
                    <div class="form-group">
                        <label>类型</label>
                        {% autoescape false %}
                            {{ app.html.dropDownList('type', app.request.get('type')|default(0) , typeArr, {'class':"form-control", 'prompt':['--请选择--']}) }}
                        {% endautoescape %}
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>


                </form>

                {% if list is empty %}
                    <div class="alert alert-warning mt15" role="alert">暂无兑换比例</div>
                {% else %}

                    {# 分类列表 #}
                    <table class="table mt15">
                        <tr class="active">
                            <td>银行</td>
                            <td>类型</td>
                            <td>金额</td>
                            <td>积分</td>
                            <td>操作</td>
                        </tr>

                        {% for item in list %}
                            <tr>
                                <td>
                                    {{ banks[item.bank_id] }}
                                </td>
                                <td>{{ item.typeAlisa }}</td>
                                <td>{{ item.money }}</td>
                                <td>{{ item.score }}</td>
                                <td>
                                    <a href="{{ url('bank-config/update', {'id':item.id}) }}">修改</a>
                                    <a href="{{ url('bank-config/delete', {'id':item.id}) }}" class="rain-confirm">删除</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <div class="pull-right">
                        {{ page.createLinks(url('bank-config/index'))|raw }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
